/* start of desktop styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #EBEBEB;
    margin:0;
    margin-top:0;
}

.navbar {
    background-color: #1D2C3D;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
}

.nav-links, .logo {
    text-decoration: none;
    color:#EBEBEB ;
}

.navbar a:hover{
    color:#59C3C3;
}

.main-nav li {
    text-align: center;
    margin:1.5% auto;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
  }
  
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: #EBEBEB;
    margin-left: 20px;
}

#hamburger{
    width: 20px;
    height: 1px;
    background-color: #EBEBEB;
    margin: 6px 0;
  }


@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    
    }
    
    @media screen and (max-width: 479px) {
    
    }


/*
Text colour on high-light in navigation #59C3C3 else white
and footer as well
C1CAD6
*/

